<div class="categories">
  <div class="step">
    <%= link_to food_events_path do %>
      <div class="intro">
          <div class="step-count">
              最好吃
          </div>
          <h3>美食</h3>
          <p>以食會友！從肚子豐富到心靈，滿足你的荷包和味蕾！不管是合購餐券、還是找人吃飯，都進來看看！</p>
      </div>
      <div class="bg-icon">
          <i class="fas fa-utensils"></i>
      </div>
    <% end %>
  </div>

  <div class="step">
    <%= link_to art_events_path do %>
      <div class="intro">
          <div class="step-count">
              有氣質
          </div>
          <h3>藝文</h3>
          <p>台灣不只擁有豐富的自然景觀，也有很多人文活動。想看歌劇嗎？想學畫畫嗎？快一起進來找同伴吧！</p>
      </div>
      <div class="bg-icon">
          <i class="fas fa-palette"></i>
      </div>
    <% end %>
  </div>

  <div class="step">
    <%= link_to learn_events_path do %>
      <div class="intro">
          <div class="step-count">
              認真上進
          </div>
          <h3>學習</h3>
          <p>有人說前往知識的路上是冷清的，但是有了你，這條路就多了不同色彩！現在就來揪人，一同打開你的潛力開關！</p>
      </div>
      <div class="bg-icon">
          <i class="fas fa-book"></i>
      </div>
    <% end %>
  </div>

  <div class="step">
    <%= link_to sport_events_path do %>
      <div class="intro">
          <div class="step-count">
              最陽光
          </div>
          <h3>運動</h3>
          <p>你知道運動是現在最「夯」的全民運動嗎？人人動起來，就差你一人！！快進來找人，一起動起來！</p>
      </div>
      <div class="bg-icon">
          <i class="fas fa-basketball-ball"></i>
      </div>
    <% end %>
  </div>  

</div>