.user-card {
  max-width: 650px;
  margin: 0 auto;

  p {
    margin-bottom: 5px;
  }
  .col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }

  .col-8 {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) { 
    .user-card {
      width: 75%;
    }
}