<h1>Events List</h1>

<table class="table">
  <ul>
    <% @events.each do |event|%>
    <li>
      <!-- <%= event.event_name %> -->
      <%= link_to event.event_name, event_path(event)%> 報名截止日：<%= event.apply_end.strftime('%m/%d') %>
    </li>
    <% end %>
  </ul>
  
</table>


<%= link_to "來！揪一下！", new_event_path, class: "btn btn-info"%>
