<h1>Events List</h1>

<table class="table">
  <ul>
    <% @events.each do |event|%>
    <li>
      <!-- <%= event.event_name %> -->
      <%= link_to event.event_name, event_path(event)%>
    </li>
    <% end %>
  </ul>
  
</table>


<%= link_to "Add Event", new_event_path%>
