/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
// @import "date_wrapper";

.field_with_errors {
  display: inline-block;

  input {
    border: 2px solid red;
  }
}

.avatar {
  border-radius: 50%;
}

.nav-avatar {
  width: 40px;
  height: 40px;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;   
}

body {
background-image: image-url("bg-callout.jpg");
}

.wrap{
}

.wrapp{
  margin-top: 10px;
  display: block;
}

.btntest{
  border-radius: 10px;
  display: inline-block;
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  width: 250px;
  text-align: center;
}
.btntest:hover{
  transition: 0.3s;
  box-shadow: 5px 5px 5px #000000;
}

.btnf{
  background-color: rgb(59, 83, 154);
}
.btng{
  background-color: rgb(237, 38, 35);
}

.fb-link-to-text-color {
  text-decoration: none;
  color: #ffffff;
}
.fb-link-to-text-color:hover{
  text-decoration: none;
  color: #ffffff;
}

.google-link-to-text-color {
  text-decoration: none;
  color: #ffffff;
}
.google-link-to-text-color:hover{
  text-decoration: none;
  color: #ffffff;
}

.aabb{
  // border:1px solid green;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
}

.aacc{

}

.regh2{
  text-align: center;
  color: #ffffff;
  text-shadow:3px 3px 3px #666666;
}

.items{
}