/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "reset";
@import "bootstrap";
// @import "date_wrapper";
@import url('https://fonts.googleapis.com/css?family=Numans');

#qrcode {
  width:160px;
  height:260px;
  margin-top:15px;
}

.field_with_errors {
  display: inline-block;

  input {
    border: 2px solid red;
  }
}
.avatar {
  border-radius: 50%;
}

.nav-avatar {
  width: 40px;
  height: 40px;
}

.event-categories {
  padding: 20px;
  text-align: center;
  font-size: 20px;

}

html,body{
  font-family: 'Numans', sans-serif;
  }

.wrapp{
  margin-top: 10px;
  display: block;
}

.btntest{
  border-radius: 10px;
  display: inline-block;
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  width: 250px;
  text-align: center;
}
.btntest:hover{
  transition: 0.3s;
  box-shadow: 5px 5px 5px #000000;
}

.btnf{
  background-color: rgb(59, 83, 154);
}
.btng{
  background-color: rgb(237, 38, 35);
}

.fb-link-to-text-color {
  text-decoration: none;
  color: #ffffff;
}
.fb-link-to-text-color:hover{
  text-decoration: none;
  color: #ffffff;
}

.google-link-to-text-color {
  text-decoration: none;
  color: #ffffff;
}
.google-link-to-text-color:hover{
  text-decoration: none;
  color: #ffffff;
}

.aabb{
  border:1px solid green;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  
}

.regh2{
  // text-align: center;
  color: #ffffff;
  text-shadow:3px 3px 3px #666666;
}

.event-categories a {
  color: black;
}

.event-categories a:hover {
  text-decoration: none;
  color: black;
}
  .card {
    margin: 3px auto;
  }

  .card a:hover {
    text-decoration: none;
  }

.items{
  display: flex;
  justify-content: space-between;
}

.fa-facebook{
  color: #ffffff;
}
.fa-google-plus-g{
  color: #ffffff;
}


.con1{
  height: 100%;
  align-content: center;
  }
  
  .car1{
  height: 600px;
  margin-top: 50px;
  margin-bottom: auto;
  width: 450px;
  background-color: rgba(0,0,0,0.5) !important;
  }

  .carlogin{
    height: 400px;
    margin-top: 50px;
    margin-bottom: auto;
    width: 450px;
    background-color: rgba(0,0,0,0.5) !important;
  }
  
  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
  }
  
  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }
  
  .card-header h3{
  color: white;
  }
  
  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }
  
  .input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }
  
  .remember{
  color: white;
  }
  
  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }
  
  .login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  }
  
  .login_btn:hover{
  color: black;
  background-color: white;
  }
  
  .links{
  color: white;
  }
  
  .links a{
  margin-left: 4px;
  }

  .form-control{
    width: 380px !important;
  }

  .ylloow{
    color: #FFC312;    
  }

  .ylloow:hover{
    color: white;
    cursor: pointer;
    }

  .sbr{
    // display:inline-block;
  }
  
  .texttag{
    border: 1px solid darkred;
    width:100px;
    margin-top: 5px;
    padding-left: 15px;
    border-radius: 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline:none;
  }

  .texttag:hover{
    width:100%;
  }

  .iconwrap{
    position: fixed;
    // top: 0;
    bottom: 0px;
    right: 0px;
    // margin:auto;
    opacity: 1;
    z-index: 1;
  }

  .redbg{
    background-color:#f00;
    color: #ffffff;
  }
  .whitebg{
    background-color:#fff;
    color: #f00;
  }

  .qr-link {
    width: 100%;
  }