#new_user > div.form-inputs > div:nth-child(1) > div, #new_user > div.form-inputs > div:nth-child(2) > div, #new_user > div.form-inputs > div:nth-child(3) > div {
  width: 100%;
}

#new_user > div.d-flex.links > span > a, body > div.wrap > div.main > div > div > div.card-footer > div > span > a {
  // color: #fff;
}

#new_user > div.d-flex.links > span > a:hovr {
  // color: #fff;
}

#new_user > div.form-actions > input {
  background-color: #f8bb00;
}

#new_user > div.form-inputs > fieldset > div > label, #new_user > div.form-inputs > div:nth-child(3) > div > label {
  // color: #fff;
}

#new_user > div.form-inputs > div:nth-child(1) > div > label, #new_user > div.form-inputs > div:nth-child(2) > div > label {
  // color: #fff;
}

body > div > div.main > div > div > div.card-header > div > span:nth-child(1) > a {
  color: #4267b2;
  // background-color: #fff;
  border-radius: 5px;
}

body > div > div.main > div > div > div.card-header > div > span:nth-child(2) > a {
  color: #b54b45;
  // background-color: #fff;
  border-radius: 5px;
}